{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h3>
                <p>Fornecedor: {{ provider }}</p>
                <p>Valor do Recebível: {{ payment.original_value }}</p>
            </h3>
        </div>

        <h3>Pedidos</h3>
        <form action="{% url 'choice_payment' %}">
            <select name="payment" hx-get="/choice_trade" hx-target="#models" hx-indicator=".htmx-indicator">
                <option value="">Escolha um comércio</option>
                {% for payment in payments %}
                    <option value="{{ payment.id }}">{{ payment.provider }}-{{ payment.due_date }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>

        <div>
            <form action="{% url 'calculate' %}">
                {% csrf_token %}
                <input name="payment_id" type="hidden" value="{{ payment.id }}">
                <h3>Dados do Recebível</h3>
                <div>
                    Data do vencimento.:<p>{{ payment.due_date }}</p>
                    Valor Original.:<p>{{ payment.original_value }}</p>
                </div>

                <div class="form-control">
                    <label for="">Liberar para receber?</label>
                    <input name="decision" value="1" type="radio">Sim
                    <input name="decision" value="0" type="radio" checked>Não
                </div>
                <button class="btn btn-primary" type="submit">Enviar</button>
            </form>
        </div>
        <div>
            {% if value_new %}
                <h3>Data Hoje..: {{ date_now }}</h3>
                <h3>Data Recebíveis..: {{ payment.due_date }}</h3>
                <h3>Diferença de dias..: {{ difference_of_days }}</h3>
                <h3>Juros de..: {{ fees }}</h3>
                <h3>Total a descontar..: {{ discount | floatformat:"2"| intcomma }}</h3>
                <h3>Valor a receber..: {{ value_new | floatformat:"2"| intcomma }}</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}