<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Administradora PAGSEGURO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav class="navbar justify-content-end navbar-expand-lg">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/">
                <i class="fa fa-home"></i>Home</a>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'log_payment' %}">
                    <i class="fa fa-edit"></i>Logs</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list_payments' %}">
                    <i class="fa fa-edit"></i>Pagamentos</a>
                </li>
            {% endif %}
            {% if user.is_authenticated and not user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'index_payments' %}">
                    <i class="fa fa-edit"></i>Recebíveis</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <span>{{ user }}</span>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i>Entrar</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block content %}
{% endblock content %}
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">©2021 Copyright:
        <a href="https://www.luxu.com.br/">Luciano Martins</a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% block scripts %}{% endblock scripts %}
</body>
</html>