{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div>
            {% if payments %}
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Data do vencimento</th>
                        <th>Data da antecipação</th>
                        <th>Valor Original</th>
                        <th>Valor com Desconto</th>
                        <th>Valor Final</th>
                        <th style="text-align: center">Decisão</th>
                        <th style="text-align: center">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.due_date }}</td>
                            {% if payment.advance_date %}
                                <td>{{ payment.advance_date }}</td>
                            {% else %}
                                <td>___/___/____</td>
                            {% endif %}
                            <td>{{ payment.original_value }}</td>
                            <td>{{ payment.discount_value }}</td>
                            <td>{{ payment.value_new }}</td>
                            {% if payment.decision == 0 %}
                                <td>SEM PEDIDO</td>
                                <td style="text-align: center">
                                    <a href="{% url 'advance_request' payment.id %}">Antecipar?</a>
                                </td>
                            {% elif payment.decision == 1 %}
                                <td>APROVADOS</td>
                            {% elif payment.decision == 2 %}
                                <td>NEGADOS</td>
                            {% else %}
                                <td>AGUARDANDO LIBERAÇÃO</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock content %}